<center> <h1> Welcome,  <%= @current_user.name %>!</h1></center>
<a href="buildings/create"> Add New Rental </a>


<h3> Current Rentals </h3>
<% if @no_current_building_error == true %>
  You do not have any active rentals available. Consider <a href="buildings/create"> adding another. </a>
<% else %>
   <% @current_building.each do |building| %>
      <% building = Building.find_by_id(building) %>
      <%= building.address %>&emsp;&emsp;
       <a href="/buildings/<%= building.id %>"> View </a>&emsp;&emsp;
       <a href="/buildings/<%= building.id %>/update"> Edit </a>&emsp;&emsp;
       <a href="/buildings/<%= building.id %>/delete"> Delete </a>&emsp;&emsp;<br>
      <% end %>
<% end %>


<h3><a href="/buildings/history"> Previous Rentals </a> </h3>

<br>
<br>
<a href="/users/update/authenticate"> Update User </a> <br>
<a href="/users/delete/authenticate"> Delete User </a> <br>
