

<div class="block text-center w-full">
   <div class="container-fluid">
      <p class="m-t-md">
        <span class="text-ribbon text-ribbon-danger bg-primary"><span>
      <% @building.errors.full_messages.each do |error_message| %>
      <%= error_message + ".    " %> <% end %>
    </span></span>
    </p>
    <h1 class="block-title">Add a New Rental
    </h1>
   <form class="form-inline" method="POST" action="/buildings/create/confirmation" enctype="multipart/form-data">
    <h4 class="m-b-md">
      <div>
        <input class="form-control m-b" type="text" name="address"  placeholder="Address" value="<%= params[:address] %>">
        <input class="form-control m-b" type="text" name="apt" placeholder="Apt/Suite No." value="<%= params[:apt] %>">
      </div>

      <div>
        <input type="text" class="form-control m-b" name="city" placeholder="City" value="<%= params[:city] %>">
        <input type="text" class="form-control m-b" name="state" placeholder="State" value="<%= params[:state] %>">
        <input type="text" class="form-control m-b" name="zip" placeholder="ZIP Code" value="<%= params[:zip] %>">
      </div>

      <div>
        <input type="text" class="form-control m-b" name="landlord" placeholder="Landlord's Name" value="<%= params[:landlord] %>">
        <input placeholder="Move-In Date" class="textbox-n form-control m-b" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" value="<%= params[:move_in_date] %>" name="move_in_date">
        <input placeholder="Move-Out Date" class="textbox-n form-control m-b" type="text" onfocus="(this.type='date')" onblur="(this.type='text')" id="date" value="<%= params[:move_out_date] %>" name="move_out_date">
      </div>

      <div>
        <input type="file" class="form-control m-b btn btn-sm btn-primary-outline" name="rental_image">
      </div>

      <div>
        <button class="btn btn-primary m-t" input type="submit">Create</button>
      </div>
    </form>
    </h4>
  </div>
</div>



