<center><h1> Update Rental </h1>  </center>

<% if @error == true %>
  <% @error_check.each do |error| %>
   <font color="red"><b> <%= error %> </b></font>
    <br>
  <% end %>
  <br>
  <br>
<% end %>

<form  method="POST" action="/buildings/<%= @building.id %>/update/confirmation">

<p> Address:&emsp;
<input type="text" name="address" value="<%= @building.address %>"></p>

<p>Apt #:&emsp;
<input type="text" name="apt" value="<%= @building.apt_no %>"></p>

<p>City:&emsp;
<input type="text" name="city" value="<%= @building.city %>"></p>

<p>State:&emsp;
<input type="text" name="state" value="<%= @building.state %>"></p>

<p>ZIP Code:&emsp;
<input type="text" name="zip" value="<%= @building.zip_code %>"></p>

<p> Landlord:&emsp;
<input type="text" name="landlord" value="<%= @building.landlord_name %>"></p>

<p> Optional Image:&emsp;
<input type="text" name="rental_image" value="<%= @building.building_image %>"></p>

<p> Other Individuals on the Lease (email):&emsp;
<input type="text" name="co_renter" value="<%= params[:co_renter] %>"></p>

<p> Move-In Date:&emsp;
<input type="date" name="move_in_date" value="<%= @building.move_in %>"></p>

<p> Move-Out Date:&emsp;
<input type="date" name="move_out_date" value="<%= @building_move_out %>"></p>

<p><input type="submit" value="Update"></p>

</form>