<center><h1> <%= @building.address %> </h1>  </center>


<%= "#{@building.address}. #{@building.apt_no}" %><br>
<%= "#{@building.city}, #{@building.state}. #{@building.zip_code}" %>
<br>
<br>
<%= @building.landlord_name %> <br>
<%= @building.building_image %> <br>
<%= @building.move_in %> <br>
<%= @building.move_out %><br>
Created by:<%= @creator.name %> on <%= @building.created_at.strftime("%m/%d/%Y") %><br>

<% if @editor != nil %>
Updated by:<%= @editor.name %> on <%= @building.updated_at.strftime("%m/%d/%Y") %>
<% end %>
<br>
<br>

<h3> ROOMS </h3>
<% if @no_current_room_error == true %>
  You do not have any rooms for this rental <br>

<% else %>
   <% @rooms.each do |room| %>
      <% room = Room.find_by_id(room) %>
      <%= room.title %> <br>
      <a href="/buildings/<%= @building.id %>/rooms/<%= room.id %>"> View </a>&emsp;&emsp;
      <a href="/buildings/<%= @building.id %>/rooms/<%= room.id %>/update"> Edit </a>&emsp;&emsp;
      <a href="/buildings/<%= @building.id %>/rooms/<%= room.id %>/delete"> Delete </a>&emsp;&emsp;<br>
      <% end %>
<% end %>
<br>
<br>
<a href="/buildings/<%= @building.id %>/rooms/create"> Add Room </a>
<br>
<br>
       <a href="/buildings/<%= @building.id %>/update"> Edit Rental Info </a>&emsp;&emsp;
       <a href="/buildings/<%= @building.id %>/delete"> Delete Rental </a>&emsp;&emsp;
       <a href="javascript:history.back()">Back to Home Page</a><br>
