<div class="p-y-lg p-x" style="background: url(<%= @building.building_image %>) top center; background-size: cover">
  <nav class="navbar navbar-transparent m-b-0">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#building-navbar-collapse-com">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <h4 class="text-uppercase m-y-0">
          <%= "#{@building.address}. #{@building.apt_no}" %><br>
          <%= "#{@building.city}, #{@building.state}. #{@building.zip_code}" %>
        </h4>
        </a>
      </div>
      <div class="navbar-collapse collapse" id="building-navbar-collapse-com">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/buildings/<%= @building.id %>/rooms/create">Add Room</a></li>
          <li><a href="/buildings/<%= @building.id %>/update">Edit</a></li>
          <li><a href="/buildings/<%= @building.id %>/delete">Delete</a></li>
          <li><a href="#" class="buildingSelector hideInfo" value="<%= @building.id %>"> Show </a></li>
        </ul>
      </div>
    </div>
  </nav>
</div>
<% @rooms.each do |room| %>
  <div class="p-y-lg p-x" style="background: url(<%= room.room_image %>) top center; background-size: cover">
    <nav class="navbar navbar-transparent m-b-0">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#room<%= room.id %>-navbar-collapse-com .room<%= room.id %>Features">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/buildings/<%= @building.id %>/rooms/<%= room.id %>">
            <h4 class="text-uppercase m-y-0"><%= room.title %></h4>
          </a>
        </div>
        <div class="navbar-collapse collapse" id="room<%= room.id %>-navbar-collapse-com">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/buildings/<%= @building.id %>/rooms/<%= room.id %>/features/create">Add Feature</a></li>
            <li><a href="/buildings/<%= @building.id %>/rooms/<%= room.id %>/update">Edit </a></li>
            <li><a href="/buildings/<%= @building.id %>/rooms/<%= room.id %>/delete"> Delete </a></li>
            <li><a href="#" class="roomSelector" data-toggle="collapse" data-target=".room<%= room.id %>Features"> Show </a></li>
          </ul>
        </div>
      </div>
    </nav>
  </div>

    <% room.items.order("condition DESC").each do |item| %>
    <ul class="list-group room<%= room.id %>Features collapse">
      <li class="list-group-item">
        <span class="badge <%= item.condition %>"><%= item.photos.count %></span>
        <%= item.title %>
      </li>
    </ul>
    <% end %>
<% end %>


       <a href="/home">Back to Home Page</a><br>