<center><h1> <%= @room.title %> </h1>  </center>

Location: <%= @room.location %> <br>
<br>
<% if @creator != nil %>
Created by:<%= @creator.name %> on <%= @room.created_at.strftime("%m/%d/%Y") %><br>
<% end %>
<% if @editor != nil %>
Updated by:<%= @editor.name %> on <%= @room.updated_at.strftime("%m/%d/%Y") %>
<% end %>
<br>
<br>
<h3> DAMAGED FEATURES </h3>
<% if @no_damaged_items_error == true %>
 There are currently no damaged features logged for this room. <br>
<% else %>
   <%  @damaged_items.each do |items| %>
      <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/<%= items.id %>"><%= items.title %></a> &emsp;&emsp;
      <%= items.get_condition_tag %>&emsp;&emsp;Images: <br>
            <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/<%= items.id %>/update"> Update </a>&emsp;&emsp;
      <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/<%= items.id %>/delete"> Delete </a> <br><br>
    <% end %>
<% end %>

<h3> UNDAMAGED FEATURES </h3>
<% if @no_undamaged_items_error == true %>
 There are currently no features in good condition logged for this room. <br>
<% else %>
   <%  @good_items.each do |items| %>
      <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/<%= items.id %>"><%= items.title %></a> &emsp;&emsp;
      <%= items.get_condition_tag %>&emsp;&emsp;Images: <br>
      <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/<%= items.id %>/update"> Update </a>&emsp;&emsp;
      <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/<%= items.id %>/delete"> Delete </a> <br><br>
    <% end %>
<% end %>
<br>
<br>
<a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/create"> Add New Feature </a>
<br>
<br>
       <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/update"> Edit Room Info </a>&emsp;&emsp;
       <a href="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/delete"> Delete Room </a>&emsp;&emsp;
       <a href="javascript:history.back()">Back to Rental Page</a><br>


