<center><h1> Add a Feature to <%= @room.title %> </h1>  </center>

<% if @added_item == true %>
   <font color="green"><b> Feature Added!</b></font>
  <br>
  <br>
<% end %>

<% if @error == true %>
  <% @error_check.each do |error| %>
   <font color="red"><b> <%= error %> </b></font>
    <br>
  <% end %>
  <br>
  <br>
<% end %>

<form  method="POST" action="/buildings/<%= @building.id %>/rooms/<%= @room.id %>/features/create/confirmation">

<p>Feature Condition&emsp;<input type="radio" name="condition_radio" value=5> Excellent &emsp;&emsp;
<input type="radio" name="condition_radio" value=4> Good&emsp;&emsp;
<input type="radio" name="condition_radio" value=3> Fair&emsp;&emsp;
<input type="radio" name="condition_radio" value=2> Poor&emsp;&emsp;
<input type="radio" name="condition_radio" value=1> Damaged</p>

<p> Title:&emsp;
<input type="text" name="title" value="<%= params[:title] %>"></p>

<p>Optional Description:<br>
  <textarea name="item_description" cols="50" rows="8">
  <%= params[:item_description] %>
  </textarea> </p>

<p><input type="submit" value="Add Feature"></form></p>

<p> <form  method="GET" action="/buildings/<%= @building.id %>/rooms/<%=@room.id %>">
<input type="submit" value="Finished Adding Features">
</form>